.category-list {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #33969f;
  h2 {
    font-family: Poppins-Regular;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #fff;
  }
  .category_card {
    background-color: #CFC172;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #000;
    border-radius: 5px;
    transition: 0.5s;
    img {
      width: 80px;
    }
    h1 {
      font-family: Poppins-Medium;
      font-size: 25px;
      text-align: center;
      margin-top: 10px;
      color: black;
      width: 100%;
    }
    &:hover {
      background-color: #FFF;
      border: none;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: black;
  }
}
.sort_box {
  color: #fff;
  background-color: #33969f;
  padding-top: 5px;
  padding-left: 10px;
  h2 {
    font-family: Poppins-Regular;
    font-size: 30px;

  }
  select {
    color: black;
    width: 150px;
    padding: 7px;
    border-radius: 5px;
    border: solid 1px #0000004b;
    background-color: #CFC172;
    margin-bottom: 10px;
  }
}
input {
  font-family: Poppins-Medium;
  width: 550px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  margin-bottom: 10px;
  margin: 0 auto;

  &:focus {
    outline: none;
    border: none;
  }
}

label {
  background-color: #fff;
  color: #fff;
  padding: 7px;
  width: 550px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0 auto;
}
.label_search{
  background-color: #33969f;
  padding: 50px;
  padding-bottom: 0;
}
@media screen and (max-width: 530px){
  label.search {
    width: 350px;
  }
}

