@font-face {
  font-family: Inter-Bold;
  src: url(../fonts/Inter_28pt-Bold.ttf);
  width: 700px;
}

@font-face {
  font-family: Inter-Regular;
  src: url(../fonts/Inter_24pt-Regular.ttf);
  width: 400px;
}
@font-face {
  font-family: Inter-SemiBold;
  src: url(../fonts/Inter_24pt-SemiBold.ttf);
  width: 600px;
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins-Medium.ttf);
  width: 500px;
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
  width: 400px;
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(../fonts/Poppins-SemiBold.ttf);
  width: 600px;
}
