.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px 20px 20px;
  border-bottom: 1px solid #b3b3b3;

  img {
    width: 80px;
    cursor: pointer;
    user-select: none;
  }

  .nav-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      li {
        list-style: none;

        a {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0;
          text-align: center;
          color: black;

          &:hover {
            border-bottom: 1px solid black;
          }
        }
      }
    }

    .nav-links-second {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        li {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .nav-menu {
      display: none;

      align-items: center;
      justify-content: center;
      gap: 5px;
      flex-direction: column;
      cursor: pointer;

      .line {
        width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 5px;
      }
    }
  }
  .Wishes {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .Basket {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 530px) {
  .navbar {
    img {
      width: 50px;
    }

    .nav-elements {
      gap: 20px;

      .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        background-color: #000000;
        padding: 20px 20px;
        z-index: 2;

        &.active {
          display: flex;
        }
        li {
          a {
            color: white;
          }
        }
        .Basket {
          svg {
            color: white;
          }
        }
        .Wishes {
          svg {
            color: white;
          }
        }
        span {
          color: white;
        }
      }

      .nav-menu {
        display: flex;
      }
    }
  }
  .Close {
    svg {
      width: 25px;
      height: 25px;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
      color: white;
    }
  }
  .navbar {
    img {
      width: 70px;
    }
  }
}
