.product-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
  h2 {
    font-family: Inter-Semibold;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  h4 {
    width: 450px;
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 21px;
    color: grey;
  }
  p {
    font-family: Inter-Regular;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .Buy {
    padding: 10px 25px;
    background-color: #db4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #c73b3b;
    }
  }
  .Like {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #69696991;
    background-color: #fff;
  }
  .product_details_buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: start;
  }
}
